*{
    padding: 0px;
    margin: 0px;
}


.header{
    font-style: normal;
font-weight: 500;
font-size: 25.5738px;
line-height: 42px;;
    height: 74px;
    
}

.header-nav{
   
    height: 500px;

}

.nav-ul{
    font-family: 'Rubik', sans-serif;
    height: 400px;
    text-align: center;
    padding-top: 5px;
}

.nav-ul-li{
    font-family: 'Rubik', sans-serif;
   display: inline-block;
   margin: 20px;
   padding: 5px;
}
.li-link{
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    color: #90E051;
}