*{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 80px;
}

.hed-nav{
    height: 80px;
}

.nav-ul{
    text-align: center;
    padding-top: 20px;
}

.ul-li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 25.5;
    line-height: 42px;
    
}


.li-link{
    color: #90E051;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.banner-text{
    width: 50%;
    float: left;
}

.banner-img{
    width: 50%;
    float: right;
    padding-top: 50px;
}


.tasty-foot{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 116.321px;
    line-height: 192px;
    padding-left: 50px;
    padding-top: 50px;
}


.collections{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 116.321px;
    line-height: 192px;
    color: #90E051;
    padding-left: 50px;
    padding-top: 50px;
}

.lorem{
    padding-left: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22.3333px;
    line-height: 34px;

}



